/*Color Pallet
dark green = 54774B
autumn orange = D1613F
medium green = A2B484
blue = #2C6568
beige = #F6F7EF
*/


body {
  padding-top: 55px;
  font-family: "proxima-nova", sans-serif;
}
a, a:hover {
  color: #2C6568;
}
h1, h1 a, h2, h2 a, h3, h3 a, h4, h4 a, h5, h5 a, h6, h6 a {
  font-family: "gesta",sans-serif;
  color:#42613D;
}
h2 a {
  color:#42613D;
}
main > section {
  width: 100%;
  position: relative;
  padding: 0px 30px;
}
section .content {
  max-width: 1200px;
  margin: 0 auto;
}
nav {
  font-family: "gesta",sans-serif;
  background-color: #42613D;
}
.navbar-dark .navbar-nav .nav-link {
  color: rgba(255,255,255,1);
}
.navbar-dark .navbar-nav .nav-link:focus,
.navbar-dark .navbar-nav .nav-link:hover {
  color:rgba(255,255,255,.5);
}
#cover-image {
  background-color: #F6F7EF;
  height: calc(40vh - 55px);
  width: 100%;
  position: relative;
  background-position: center 0;
  background-size: cover;
  background-image: url("../images/covers/grand-canyon.jpg")
}
#home {
  min-height: 60vh;
  width: 100%;
  background-color: #DAE5C7;
}
#cover-description p:last-child {
  margin-bottom: 0;
}

article#cover-description {
  padding: 0;
}
#profile-image {
  border-radius: 50%;
  border:  2px solid white;
  height: 5.8em;
  width: 5.8em;
  background-color: white;
  margin: 0 auto;
  background-image: url('../images/profile/jacob-hooey-profile-photo.jpg');
  background-size: contain;
}
#profile-image img{
  width:100%;
}
#personal-info{
  padding-top: 20px;
  text-align: center;
}
.link-location {
  position: absolute;
  top: -55px;
}
#about-link.link-location {
  position: absolute;
  top: -200px;
}
.container-fluid {
  padding: 15px 0;
}
article,
#hobbies article {
  padding: 20px;
  margin-bottom: 20px;
}
#hobbies article h3 {
  padding-top: 10px;
}
article:last-child {
  margin-bottom: 0;
}
article .row {
  margin: 0;
}
.description {
  padding: 20px;
}

#projects article {
  background-color: #F6F7EF;
}
#projects article:nth-child(even) .row,
#school article:nth-child(odd) .row  {
  flex-wrap: wrap-reverse;
}
#hobbies article {
  background-color: rgba(255, 255, 255, 1);
}
#school article {
  padding: 10px;
}
#school h3 {
  font-size: 1.4rem;
  color: #000000;
  padding-top: 5px;
}
#resume {
  background-color: #F6F7EF;
}
#hobbies {
  background-color: #DAE5C7;
  padding-top: 30px;
  padding-bottom: 10px;
}
.carousel-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel img {
  max-width: 100%;
}
.bishops-university {
  background-color: #4F2D7F;
}
#school .description {
  background-color: white;
  padding: 20px;
}
.mcgill-university {
  background-color: rgba(220, 36, 31, .8);
}
.uvic-university {
  background-color: rgba(0, 84, 147, 1);
}
.heritage-college {
  background-color: #F6F7EF;
}

@media (min-width:415px){
  #personal-info{
    padding-top: 0;
    text-align: left;
  }
  #cover-image {
    height: calc(60vh - 55px);
  }
  #home {
    min-height: 40vh;
  }
  section {
    text-align: left;
  }
  #profile-image {
    height: 7.6em;
    width: 7.6em;
    position: absolute;
    top: calc(0px - 3.8em - 2px);
    right: 3em;
    margin: 0;
  }
}
@media (min-width:768px){
  #cover-image {
    height: calc(70vh - 55px);
  }
  #home {
    min-height: 30vh;
  }
  .description {
    padding: 20px 0;
  }
  #projects .description {
    padding: 0 20px;
  }
  section .content {
    padding: 20px;
  }
  #profile-image {
    right: 10em;
    top: calc(0px - 5.7em - 2px);
    height: 11.4em;
    width: 11.4em;
  }
  #projects article:nth-child(even) .row,
  #school article:nth-child(odd) .row  {
    flex-wrap: wrap;
  }
}
@media (min-width: 1200px) {
  #profile-image {
    right: calc(10em + ( 100vw - 1200px ) / 2 );
  }
}
